.con-act>input[type=button]{
				color: #fff;
				height: 0.24rem;
				width: 0.74rem;
				border: 1px solid #fff;
				border-radius: calc(4px);
				background-color: #0464af;
				background-image: none;
			}
			.table-list{
				width: 18.9rem;
				margin: 0rem auto;
				margin-bottom: 0;
				border: 1px solid #c6dbef;
			}
			.table-list ul{
				width: 100%;
				border-top: 1px solid #b7d1ea;
				border-bottom: 1px solid #b7d1ea;
				margin-top: 0.08rem;
				background-color: #f1f9fd;
			}
			 ul.first{
			 	width: 18.9rem;
			 	height: 0.4rem;
			 	border-top: 1px solid #b7d1ea;
				border-right: 1px solid #b7d1ea;
				background-color: #f1f9fd;
			 	margin: 0rem auto;
				margin-top: 0.15rem;
			}
			ul.first li{
				height: 0.4rem;
				border-left: 1px solid #b7d1ea;
				line-height: 0.4rem;
				display: inline-block;
				width: 3.8rem;
		        line-height: 0.4rem;
				text-align: center;
			}
			.first li:first-child{
				width: 1rem;
			}
			.first li:first-child+li{
				width: 2rem;
			}
			.table-list li{
				display: inline-block;
				width: 3.8rem;
		        height: 0.36rem;
		        line-height: 0.36rem;
				text-align: center;
			}
			.table-list li:first-child{
				width: 1rem;
			}
			.table-list li:first-child+li{
				width: 2rem;
			}
            .table-list li:first-child+li img{
            	width: 0.06rem;
				height: 0.1rem;
				position: relative;
				top: -0.02rem;
				right: 0.05rem;
			}
			.table-list li:first-child+li img+img{
				width: 0.1rem;
				height: 0.06rem;
				display: none;
			}
			.table-list li img{
				position: relative;
				top: 0.05rem;
			}
			.dis-see{
				display: none;
			}
			ul.second{
				width: 17.86rem;
				border-left: 1px solid #b7d1ea;
				position: relative;
				left: 0.98rem;
			}
			
			.second li:first-child{
				width: 1rem;
			}
			.second li:first-child+li{
				width: 1rem;
			}
			ul.third{
				width: 17.08rem;
				border-left: 1px solid #b7d1ea;
				position: relative;
				left: 1.8rem;
			}
			.third li:first-child{
				width: 0.5rem;
			}
			.third li:first-child+li{
				width: 0.7rem;
			}
			 .second li:first-child+li img, .third li:first-child+li img{
				width: 0.15rem;
				height: 0.28rem;
				position: relative;
				top: 0.02rem;
				left: -0.2rem;
			}
			.second li:first-child+li img{
				left: -0.4rem;
			}