@charset "UTF-8";
.m-style {
    position: relative;
    top: 0.1rem;
    float: right;
    text-align: center;
    zoom: 1;
}

.m-style:before,
.m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

.m-style span {
    float: left;
    margin: 0 0.05rem;
    width: 0.27rem;
    height: 0.21rem;
    line-height: 0.21rem;
    color: #bdbdbd;
    font-size: 0.14rem;
}

.m-style .active {
    float: left;
    margin: 0 0.05rem;
    width: 0.27rem;
    height: 0.21rem;
    line-height: 0.21rem;
    color: #ff0000;
    font-size: 0.14rem;
    background-color: #fff;
    border: 1px solid #29abd6;
}

.m-style a {
    float: left;
     margin: 0 0.05rem;
    width: 0.27rem;
    height: 0.21rem;
    line-height: 0.21rem;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 0.14rem;
}

.m-style a:hover {
    color: #ff0000;
}

.m-style .next,
.m-style .prev {
    font-family: "Simsun";
    font-size: 0.16rem;
    font-weight: bold;
}

.now,
.count {
    padding: 0 0.05rem;
    color: #f00;
}

.eg img {
    max-width: 8rem;
    min-height: 5rem;
}

.m-style input {
    float: left;
    margin: 0 0.05rem;
    width: 0.27rem;
    height: 0.21rem;
    line-height: 0.21rem;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 0.14rem;
    padding: 0;
}
a.jump-btn{
	width: 0.38rem;
}
