<!DOCTYPE html>
<HTML>
<head>
  <meta charset="utf-8">
  <title>图片管理</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/AdminLTE.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}" />
  
  <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
  
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
</head>
<body>
	<div class="container" style="padding: 10px;">
		<div class="row">
			<div class="col-md-12">
   				<button type="button" onclick="add()" class="btn btn-info">添加</button>
   				<button type="button" onclick="del()" class="btn btn-danger">删除</button>
			</div>
		</div>   
	   <div class="row">
	   		<div class="col-md-12">
            	<table id="mytab"></table>
            </div>
	   </div>
	</div>
</body>
</HTML>
<script type="text/javascript">
$(document).ready(function(){
	  $('#mytab').bootstrapTable({
          dataType: 'json',
          url: '/admin/image/getListPage',    //url
          queryParams:function(params){
        	  var temp = {   
                     pageSize: params.limit,                         //页面大小
                     page: (params.offset / params.limit) + 1,   //页码
                 };
               return temp;
          },
          responseHandler:function(res){
        	 return res.data;
          },
          pagination: true,                   //是否显示分页（*）
          sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
          pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
          pageSize: 10,                     //每页的记录行数（*）
          pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
          clickToSelect: true,                //是否启用点击选中行
          uniqueId: "id",                     //每一行的唯一标识，一般为主键列
          columns: [{
              checkbox: true
          }, {
              field: 'title',
              title: '标题'
          }, {
              field: 'type',
              title: '类型',
              formatter:function(value, row, index) {
            	  if(value==1){
            		  return '头部';
            	  }
            	  if(value==2){
            		  return '中间左侧';
            	  }
            	  if(value==3){
            		  return '底部';
            	  }
            	  return  '其他';
              }
          }, {
              field: 'url',
              title: '图片',
              formatter:function(value, row, index) {
            	  return '<img src="'+value+'" style="width:50px;height:50px;"/>';
              }
          }, {
              field: 'href',
              title: '跳转地址'
          }, {
              field: 'sort',
              title: '排序'
          }]
      });
});

function refresh(){
	$("#mytab").bootstrapTable('refresh', null);
}

function add(){
	layer.open({
		  type: 2,
		  title: '图片管理-添加',
		  shadeClose: true,
		  shade: 0.8,
		  area: ['90%', '90%'],
		  content: '/admin/image/toImageAddPage' //iframe的url
		}); 
}

function del(){
	var rows = $("#mytab").bootstrapTable('getSelections');
 	if(rows.length<=0){
 		layer.msg('请选择数据');
 		return;
 	}
 	var ids = [];
 	$.each(rows,function(index,node){
 		ids.push(node.id);
 	});
 	$.ax({
		url:'/admin/image/delByIds',
		data:{'ids':ids},
		success:function(res){
			if(res.code!=200){
				layer.msg(res.msg);
				return;
			}
			 layer.msg('删除成功',{time:1000});
			 refresh();
		}
	});
}
</script>